<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/adoptionAd.css">
    <!-- Font Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Edit Advert</title>
</head>
<body>
    <nav>
        <%- include('./partials/navbar') %>
    </nav>

    <section>
        <div class="adoption-form-container">
            <div class="adoption-form-wrapper">
                <!-- Back Navigation Link -->
                <div id="navigation-container">
                    <a href='/advertise/<%= id %>'><i class="fas fa-arrow-left"></i>Back to <%= advert.name %>'s page</a>
                </div>
                <!-- Form -->
                <form id="adoption-form" method="POST" action="/advertise/<%= advert.id %>?_method=PUT" enctype="multipart/form-data">
                    <!-- Form Title -->
                    <h1 id="form-title">Edit <%= advert.name %>'s Advert</h1>
                    <!-- Form Description -->
                    <p>Please edit the advert details below and click on the 'Post Advert' button to submit the advert. 
                        Fields marked with an asterisk (*) are mandatory.
                    </p>
                    <!-- Form Fields -->
                    <%- include('./partials/form_fields') %>
                </form>
            </div>
        </div>
    </section>
    
    <footer>
        <%- include('./partials/footer') %>
    </footer>
    
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src="/javascripts/adoptionAd.js"></script>
    <script>
        // preselects pets dropdown values when page loads
        selectDropdownValues("<%= advert.type %>", "<%= advert.breed %>", "<%= advert.gender %>");
        // preselects pets checkbox values when page loads
        checkCheckBox("<%= advert.specialNeeds %>", "specialNeeds");
        checkCheckBox("<%= advert.childFriendly %>", "childFriendly");
        checkCheckBox("<%= advert.petFriendly %>", "petFriendly");
        checkCheckBox("<%= advert.microchipped %>", "microchipped");
        checkCheckBox("<%= advert.neutered %>", "neutered");
        checkCheckBox("<%= advert.vaccinated %>", "vaccinated");
    </script>
</body>
</html>